---
// src/pages/men/index.astro
import { ProductList } from '@/components';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';


const searchParams= Astro.url.searchParams;
const pageParam = Number(searchParams.get('page') ?? 1);

const { data, error } = await actions.getProductsByPage.safe({
  page: pageParam,
  limit:6,
  categorys:'Otoño/Invierno'
});

if (error) {
  return Astro.redirect('/');
}

const {products, totalPages} = data;

if(data.products.length == 0){
  return Astro.redirect('/');
}
---

<MainLayout>
  <main class="container m-auto max-w-4xl px-5 mt-8">
    <div class="container mx-auto p-6">
      <h1 class="text-3xl font-bold text-center mb-8 text-white">Selecciona una Prenda</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <a href="/otoño_invierno/categorias/beatles">
          <div class="bg-white rounded-lg shadow-lg p-6 hover:bg-gray-100 cursor-pointer">
            <h2 class="text-xl font-semibold mb-4 text-center">Beatles</h2>
          </div>
        </a>
        <a href="/otoño_invierno/categorias/chaquetas">
          <div class="bg-white rounded-lg shadow-lg p-6 hover:bg-gray-100 cursor-pointer">
            <h2 class="text-xl font-semibold mb-4 text-center">Chaquetas</h2>
          </div>
        </a>
        <a href="/otoño_invierno/categorias/vestidos">
          <div class="bg-white rounded-lg shadow-lg p-6 hover:bg-gray-100 cursor-pointer">
            <h2 class="text-xl font-semibold mb-4 text-center">Vestidos</h2>
          </div>
        </a>
        <a href="/otoño_invierno/categorias/pantys">
          <div class="bg-white rounded-lg shadow-lg p-6 hover:bg-gray-100 cursor-pointer">
            <h2 class="text-xl font-semibold mb-4 text-center">Pantys</h2>
          </div>
        </a>
        <a href="/otoño_invierno/categorias/bufandas">
          <div class="bg-white rounded-lg shadow-lg p-6 hover:bg-gray-100 cursor-pointer">
            <h2 class="text-xl font-semibold mb-4 text-center">Bufandas</h2>
          </div>
        </a>
        <a href="/otoño_invierno/categorias/sweater">
          <div class="bg-white rounded-lg shadow-lg p-6 hover:bg-gray-100 cursor-pointer">
            <h2 class="text-xl font-semibold mb-4 text-center">Sweater</h2>
          </div>
        </a>
      </div>
    </div>

  <h1 class="text-3xl text-[#231F20]">Listado de productos</h1>

  <ProductList products={products} client:idle />

  <Pagination totalPages={totalPages}/>
  </main>

</MainLayout>