---
// src/pages/index.astro

import { ProductList } from '@/components';
import Carusel from '@/components/Frontend/Carusel.astro';
import Temporada from '@/components/Frontend/Temporada.astro';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';
const searchParams= Astro.url.searchParams;
const pageParam = Number(searchParams.get('page') ?? 1);

const { data, error } = await actions.getProductsByPage.safe({
  page: pageParam,
  limit:6,
});

if (error) {
  return Astro.redirect('/');
}

const {products, totalPages} = data;

if(data.products.length == 0){
  return Astro.redirect('/');
}
---

<MainLayout>
  <Carusel/>
  <main class="container m-auto max-w-4xl px-5 mt-8">
  <h1 class="text-3xl text-[#231F20]">Nuestra Colección </h1>

    <Temporada/>


  <h1 class="text-3xl text-[#231F20] pt-12 mb-5">Productos destacados</h1>

  <ProductList products={products} client:idle />
  
  <Pagination totalPages={totalPages}/>
</main>
</MainLayout>